@black: #000;
@white: #fff;
@grey: #3a3a43;
@dark-gray: #424242;
@dateBlock: #ff5f47;
@btn_green-phone: #62c741;
@sidebar_light-grey: #ebebed;
@sidebar_textNormal: #000000;
@sidebar_textLight: #666670;
@text_light-turquoise: #c4dcd5;
@text_light-blue: #0072be;
@text_mainMenu-SpecialOffer: #d05743;
@text_mainMenu-hover: #f7c515;
@content_textNormal: #424242;
@content_textLight: #757575;
@startCap_normalBtn: #a8adbd;
@startCap_pressedBtn: #fff;
@textVTB: #2e353a;

body {
  background-color: #fff;
  height: 20000px;
}

.startCap {
  background-color: @black;
  height: 28px;
  font-size: 14px;

  a {
    text-decoration: none;

  }
  a:hover {
    text-decoration: none;
    color: @startCap_pressedBtn;
  }
  a:visited {
    text-decoration: none;
  }
  a:link {
    text-decoration: none;
    color: @white;
  }

  a:focus {
    text-decoration: none;
    color: @white;
  }

  &_normalBtn {
    color: @startCap_normalBtn;
  }
  &_pressedBtn {
    color: @startCap_pressedBtn;

  }
}

.startCap {
  background-color: @black;
  height: 28px;
  font-size: 14px;

  a {
    text-decoration: none;

  }
  a:hover {
    text-decoration: none;
    color: @startCap_pressedBtn;
  }
  a:visited {
    text-decoration: none;
  }
  a:link {
    text-decoration: none;
    color: @white;
  }

  a:focus {
    text-decoration: none;
    color: @white;
  }

  &_menu {
    text-decoration: none;
    color: @startCap_normalBtn;
    &-normalBtn {
      color: @startCap_normalBtn;
      padding-left: 16px;
    }
  }

  &_menu-pressedBtn {
    text-decoration: none;
    color: @startCap_pressedBtn;
    &-pressedBtn {
      color: @startCap_normalBtn;
      padding-left: 16px;
    }
  }
}

.imgExplanation {
  display: block;
  width: 10px;
  height: 18px;

  background: url("http://static.gdeetotdom.ru/skin/ged6/img/ico/header-icons.png") -50px 4px;
}

.imgExplanation:hover {
  background-position: -65px 4px;
}

.imgExplanation:focus {
  background-position: -65px 4px;
}

.signUp {
  display: block;
  width: 10px;
  height: 18px;
  background: url("http://static.gdeetotdom.ru/skin/ged6/img/ico/header-icons.png") -1px -65px;
}

.signUp:hover {
  background-position: -18px -65px;
}

.signUp:focus {
  background-position: -18px -65px;
}

.comeIn {
  margin-left: -20px;
  display: block;
  width: 10px;
  height: 18px;
  background: url("http://static.gdeetotdom.ru/skin/ged6/img/ico/header-icons.png") -1px -48px;
}

.comeIn:hover {
  background-position: -18px -48px;
}

.comeIn:focus {
  background-position: -18px -48px;
}

.navbar-default {
  background-color: #3a3a43;
  border-color: #3a3a43;
}

/*шапка*/
header {
  height: 24px;
}

/*фиксированное плавающее меню*/
#top_nav {
  top: 24px; /*высота шапки в пикселях*/
  position: fixed;
  z-index: 1000;
}

.navIcon {
  margin-top: 14px;
  margin-bottom: 14px;
}

.logo-icon {
  margin-top: 5px;
  width: 280px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  color: @text_mainMenu-hover;
  background-color: #3a3a43;
  padding-bottom: 12px;
  border-bottom: @text_mainMenu-hover 3px solid;
}

.navbar-default .navbar-nav > li > a {
  color: @white;
}

.navbar-default .navbar-nav > li > a:hover {
  color: @text_mainMenu-hover;
}

.navbar-default .navbar-nav > li > a:focus {
  color: @text_mainMenu-hover;
}

.underline {

}

.underline:hover {
  padding-bottom: 12px;
  border-bottom: @text_mainMenu-hover 3px solid;
}

.underline:active {
  padding-bottom: 12px;
  border-bottom: @text_mainMenu-hover 3px solid;
}

.underline:focus {
  padding-bottom: 12px;
  border-bottom: @text_mainMenu-hover 3px solid;
}

.underline-specialOffer {

}

.underline-specialOffer:hover {
  padding-bottom: 9.5px;
  border-bottom: @text_mainMenu-hover 3px solid;
}

.underline-specialOffer:active {
  padding-bottom: 9.5px;
  border-bottom: @text_mainMenu-hover 3px solid;
}

.underline-specialOffer:focus {
  padding-bottom: 9.5px;
  border-bottom: @text_mainMenu-hover 3px solid;
}

.specialOffer {

  color: @text_mainMenu-SpecialOffer;
}

.specialOffer:hover {
  color: @text_mainMenu-hover;
}

.specialOffer:focus {
  color: @text_mainMenu-hover;
}

.specialOffer:active {
  color: @text_mainMenu-hover;
}

.specialOffer-2 {

  color: @text_mainMenu-SpecialOffer;
}

.specialOffer-2:hover {
  color: @text_mainMenu-hover;
}

.specialOffer-2:focus {
  color: @text_mainMenu-hover;
}

.specialOffer-2:active {
  color: @text_mainMenu-hover;
}

.imgSpecialOffer {
  padding-top: 20px;
  width: 22px;
  height: 21px;
  background: url("http://static.gdeetotdom.ru/skin/ged6/img/ico/header-icons.png") 1px -112px;
}

.rightSidebar {
  position: fixed;
  top: 0;
  right: 0;
  float: right;
  max-width: 400px;
  margin-right: -15px;
  background-color: @sidebar_light-grey;
  height: 100%;
  z-index: -1;

}

.rightSidebar > ul > li {
  list-style-type: none;
}

.sidebarImg_first {
  margin-top: 75px;
}

.page_container {
  position: relative;
  max-width: 100%;
  padding: 0;
  overflow: hidden;
}

#listNewBuildings {
  margin: 0 auto;
  max-width: 1280px;
}

.page_content {
  padding-top: 120px;
  position: relative;
}

.content_container {
  border: 1px solid gray;
  height: 400px;
}

.theDescriptionOf {
  color: @text_light-blue;
  display: inline-block;
  margin: 15px 15px;
}

.textVTB {
  margin: 20px 15px;
  color: @textVTB;
  font-size: 28px;
}

.dateBlock {

  font-size: 14px;
  color: @white;
  display: inline-block;
  background-color: @dateBlock;
  border-radius: 5px 5px 5px 5px;

  &_description {
    margin: 8px 8px;
  }
}

.textIndentation {
  margin: 15px 30px;
}